.FAQ {
    width: 100%;
    padding: 1rem 2rem;
    z-index: 999;
}

@media screen and (max-width: 768px) {
    .FAQ {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.FAQ > h1 {
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    color: var(--V-dark-desaturated-blue);
}

.AccordionGroup {
    padding-top: 35px;
    font-weight: 400;
    width: 90%;
}

.AccordionGroup hr {
    border: 1px solid var(--Light-grayish-blue);
}
