@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
    --violet: hsl(273, 75%, 66%);
    --blue: hsl(240, 73%, 65%);
    --V-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);
    --V-dark-desaturated-blue: hsl(238, 29%, 16%);
    --red: hsl(14, 88%, 65%);
    --Light-grayish-blue: hsl(240, 5%, 91%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, var(--violet), var(--blue));
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: "Kumbh Sans";
    font-size: 12px;
}

@media screen and (min-width:768px){
body {
    
    font-size: 15px;
}
}

main {
    display: flex;
    justify-content: center;
}
